.home-img {
    width: 50vw;
    height: 50vw;
    max-width: 300px;
    max-height: 300px;
}

.home-start-button {
    background-color: #40af0f;
    font-size: 20px;
    border-radius: 20px;
    width: 50vw;
    max-width: 300px;
    border: 1px solid black;
    box-shadow: 3px 3px 5px black;
    text-shadow: 1px 1px 1px whitesmoke;
    font-weight: bolder;

    &:hover {
        box-shadow: 1px 1px 8px black;
        background-color: #3da311;
    }
}

.left-time {
    font-size: 100px;
    font-weight: bolder;
    text-shadow: 1px 1px 1px whitesmoke;
}

.game-box {
    width: 90vw;
    height: 90vw;
    border: 4px double whitesmoke;
    position: relative;
}

.game-box-frame {
    position: absolute;
    width: 104%;
    height: 104%;
    margin-left: -2%;
    margin-top: -2%;
    background-image: url(../../../../assets/images/gold-frame.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
    pointer-events: none;
}

@media screen and (min-width: 768px) {
    .game-box {
        width: 85vh;
        height: 85vh;
    }
}

.box {
    border: 1px solid whitesmoke;
}

.mouse {
    max-width: 80%;
    max-height: 80%;
}

.killed-mouse {
    max-width: 70%;
    max-height: 70%;
    margin-top: 40px;
}

.wrong-bg {
    background-image: url(../../../../assets/images/wrong-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}

.game-table {
    position: absolute;
    width: 100%;
    margin-top: -40px;
}

.score-text {
    font-size: 20px;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.health-img {
    width: 25px;
}

.game-over {
    font-weight: bolder;
    font-size: 70px !important;
    color: white;
    text-shadow: 3px 3px 3px black;
    line-height: 80px;
    text-align: center;
}

.game-over-score {
    font-size: 50px !important;
}

.language-flag {
    width: 40px;
    height: 40px;
    cursor: pointer;

    &:nth-child(1) {
        margin-right: 60px;
    }
}

.home-info-icon {
    width: 30px;
    margin-top: -37px;
}

.home-info {
    font-size: 15px !important;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.info-text {
    width: 50%;
    display: inline-block;
}

.info-arrow {
    position: relative;
    top: -17px;
    left: 20px;
    margin-right: 5px;
}

@media screen and (max-width: 600px) {
    .info-arrow{
        left: 5px;
    }
}

.max-container {
    max-width: 600px;
}

.title{
    font-size: 40px!important;
    text-shadow: 2px 2px 2px black;
    color: white;
}